name: test master

on:
  push:
    branches:
      - main

jobs:
  setup-version:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest ]
        dotnet-version: ['5.0']
    name: Dotnet ${{ matrix.dotnet }} sample
    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet }}
      - run: dotnet build RecordParser.Test/RecordParser.Test.csproj
      - run: dotnet test RecordParser.Test/RecordParser.Test.csproj
